$companyblue: #005EBD;
$companyred: #DA241C;
$companyblack: #1C1B1F;
$compangreyblue: #DDE6F0;
$companygreybg: #F6F6F6;
$desktoppadding: 0rem 4rem;
$testborder: 1px solid red;

#root {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

h1 {
  color: #1C1B1F;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  text-align: center;
}

// NAVIGATION START
nav {
  background-color: $companygreybg;
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-top {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
  p {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0;
  }
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bottom-left {
  width: 33%;
}

.nav-bottom-right {
  display: flex;
  width: 67%;
  gap: 1rem;
  justify-content: flex-end;
  a {
    color: $companyblack;
    text-decoration: none;
    padding-bottom: 0.5em;
    font-weight: 600;
  }
  .active {
    padding-bottom: 0.5em;
    border-bottom: 2px solid $companyblue;
    a {
      color: $companyblue;
    }
  }
  a:hover {
    color: $companyblue;
  }
}
// NAVIGATION END
 

// HOME PAGE
// HERO SECTION START
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  gap: 2em;
  background-color: $companygreybg;
  padding: $desktoppadding;
  padding-bottom: 2em;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
  }
  .button-container {
    display: flex;
    gap: 1em;
  }
  .button-1 {
    background-color: $companyblue;
    width: 200px;
    border: inherit;
    outline: none;
    padding: 0.9375em;
    border-radius: 10px;
    font-weight: 700;
  }
  .button-1:hover {
    background-color: #006edb;
  }
  .button-2 {
    @extend .button-1;
    background-color: inherit;
    width: 130px;
    color: #005EBD;
    border: 1.5px solid $companyblue;
  }
  .button-2:hover {
    background-color: inherit;
    border: 1.5px solid $companyblack;
    color: $companyblack;
  }
}

.hero-right {
  display: flex;
  width: 50%;
  img {
    width: 100%;
  }
}
// HERO SECTION END

// SECTION ONE START
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $desktoppadding;
  padding-top: 5em;
  padding-bottom: 5em;
  p {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    width: 80%;
  }
}

.flags-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
// SECTION ONE END

// SECTION TWO START
.section-two {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  padding-bottom: 2em;
  margin-bottom: 5em;
  background-color: $companygreybg;
  .section-two-bottom {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .section-two-left {
    display: flex;
    width: 50%;
    img {
      width: 100%;
    }
  }
  .section-two-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
// SECTION TWO END

// SECTION THREE START
.section-three {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  .service {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
  }
  .service-left {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: $compangreyblue;
    padding: 3em 2.5em;
    gap: 1em;
    h3 {
      margin: 0;
      font-size: 1.5rem;
      letter-spacing: 0.05em;
    }
    p {
      margin: 0;
    }
  }
  .service-right {
    display: flex;
    width: 55%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .service:nth-child(odd){
    flex-direction: row-reverse;
    .service-left {
      background-color: $companyblack;
      h3 {
        color: white;
      }
      p {
        color: #DFDFDF;
      }
    }
  }
}
// SECTION THREE END

// SECTION FOUR START
.section-four {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  padding-bottom: 5em;
}

.testimonial-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  .testimonial-sub-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    gap: 2rem;
    .arrow {
      width: 20px;
    }
    .arrow:hover {
      width: 40px;
    }
    .testimonial-container-left {
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: center;
    }
    .testimonial-container-right {
      display: flex;
      flex-direction: column;
      width: 70%;
      .message {
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.05em;
      }
      .details{
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
      .name {
        font-weight: 700;
        font-size: 1rem;
      }
      .university {
        @extend .name;
      }
    }
  }
  .testimonial-nav {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    .nav-bubble {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #E3E3E3;
      &.active {
        background-color: $companyblack;
      }
    }
  }
}
// SECTION FOUR END

// SECTION FIVE START
.section-five {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("../assets/graduates.png") center fixed;
  background-size: cover;
  height: 528px;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: 700;
    color: white;
  }
  .metrics-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .metric {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    width: 250px;
    b {
      font-size: 2.25rem;
    }
  }
}





