#root {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

h1 {
  color: #1C1B1F;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  text-align: center;
}

nav {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-top {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
}
.nav-top p {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bottom-left {
  width: 33%;
}

.nav-bottom-right {
  display: flex;
  width: 67%;
  gap: 1rem;
  justify-content: flex-end;
}
.nav-bottom-right a {
  color: #1C1B1F;
  text-decoration: none;
  padding-bottom: 0.5em;
  font-weight: 600;
}
.nav-bottom-right .active {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #005EBD;
}
.nav-bottom-right .active a {
  color: #005EBD;
}
.nav-bottom-right a:hover {
  color: #005EBD;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  gap: 2em;
  background-color: #F6F6F6;
  padding: 0rem 4rem;
  padding-bottom: 2em;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.hero-left h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
}
.hero-left .button-container {
  display: flex;
  gap: 1em;
}
.hero-left .button-1, .hero-left .button-2 {
  background-color: #005EBD;
  width: 200px;
  border: inherit;
  outline: none;
  padding: 0.9375em;
  border-radius: 10px;
  font-weight: 700;
}
.hero-left .button-1:hover, .hero-left .button-2:hover {
  background-color: #006edb;
}
.hero-left .button-2 {
  background-color: inherit;
  width: 130px;
  color: #005EBD;
  border: 1.5px solid #005EBD;
}
.hero-left .button-2:hover {
  background-color: inherit;
  border: 1.5px solid #1C1B1F;
  color: #1C1B1F;
}

.hero-right {
  display: flex;
  width: 50%;
}
.hero-right img {
  width: 100%;
}

.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 4rem;
  padding-top: 5em;
  padding-bottom: 5em;
}
.section-one p {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  width: 80%;
}

.flags-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section-two {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
  padding-bottom: 2em;
  margin-bottom: 5em;
  background-color: #F6F6F6;
}
.section-two .section-two-bottom {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.section-two .section-two-left {
  display: flex;
  width: 50%;
}
.section-two .section-two-left img {
  width: 100%;
}
.section-two .section-two-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section-three {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
}
.section-three .service {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
}
.section-three .service-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #DDE6F0;
  padding: 3em 2.5em;
  gap: 1em;
}
.section-three .service-left h3 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}
.section-three .service-left p {
  margin: 0;
}
.section-three .service-right {
  display: flex;
  width: 55%;
}
.section-three .service-right img {
  width: 100%;
  height: auto;
}
.section-three .service:nth-child(odd) {
  flex-direction: row-reverse;
}
.section-three .service:nth-child(odd) .service-left {
  background-color: #1C1B1F;
}
.section-three .service:nth-child(odd) .service-left h3 {
  color: white;
}
.section-three .service:nth-child(odd) .service-left p {
  color: #DFDFDF;
}

.section-four {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
  padding-bottom: 5em;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.testimonial-container .testimonial-sub-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: auto;
  gap: 2rem;
}
.testimonial-container .testimonial-sub-container .arrow {
  width: 20px;
}
.testimonial-container .testimonial-sub-container .arrow:hover {
  width: 40px;
}
.testimonial-container .testimonial-sub-container .testimonial-container-left {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right .message {
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right .details {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right .name, .testimonial-container .testimonial-sub-container .testimonial-container-right .university {
  font-weight: 700;
  font-size: 1rem;
}
.testimonial-container .testimonial-nav {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.testimonial-container .testimonial-nav .nav-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E3E3E3;
}
.testimonial-container .testimonial-nav .nav-bubble.active {
  background-color: #1C1B1F;
}

.section-five {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("../assets/graduates.png") center fixed;
  background-size: cover;
  height: 528px;
  align-items: center;
  justify-content: center;
}
.section-five h2 {
  font-weight: 700;
  color: white;
}
.section-five .metrics-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.section-five .metric {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
  width: 250px;
}
.section-five .metric b {
  font-size: 2.25rem;
}/*# sourceMappingURL=App.css.map */