@charset "UTF-8";
#root {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

h1 {
  color: #1c1b1f;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  text-align: center;
}

nav {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-top {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
}
.nav-top p, .nav-top .section-eight h2, .section-eight .nav-top h2 {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bottom-left {
  width: 33%;
}

.nav-bottom-right {
  display: flex;
  width: 67%;
  gap: 1rem;
  justify-content: flex-end;
}
.nav-bottom-right a {
  color: #1c1b1f;
  text-decoration: none;
  padding-bottom: 0.5em;
  font-weight: 600;
}
.nav-bottom-right .active {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #007fff;
}
.nav-bottom-right .active a {
  color: #007fff;
}
.nav-bottom-right a:hover {
  color: #007fff;
}

.mobile-nav-toggle {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 6em 4em;
  background-color: #dde6f0;
  gap: 7em;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  width: 33.333%;
}
footer .footer-left p, footer .footer-left .section-eight h2, .section-eight footer .footer-left h2 {
  font-size: 1rem;
}
footer .footer-left .social-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
footer .footer-right {
  display: flex;
  flex-direction: row;
  width: 66%;
  justify-content: space-evenly;
}
footer .footer-right .footer-info {
  display: flex;
  flex-direction: column;
  width: 33.333%;
  gap: 0.5em;
}
footer .footer-right .footer-info a {
  text-decoration: none;
  color: #1c1b1f;
  font-size: 1rem;
}
footer .footer-right .footer-info a:hover {
  font-weight: bold;
  color: #007fff;
}
footer #copyright1 {
  display: block;
}
footer #copyright2 {
  display: none;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 550px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/hero_alt.png") center no-repeat;
  padding: 0em 4em;
  padding-bottom: 2em;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 52%;
  gap: 1em;
}
.hero-left h1 {
  font-size: 3.25rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.05em;
  margin: 0;
}
.hero-left p, .hero-left .section-eight h2, .section-eight .hero-left h2 {
  font-size: 1.15rem;
  color: white;
}
.hero-left .button-container {
  display: flex;
  gap: 1.5em;
}
.hero-left .button-1, .hero-left .button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007fff;
  width: 200px;
  height: 50px;
  border: inherit;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
}
.hero-left .button-1 a, .hero-left .button-2 a {
  text-decoration: none;
  color: white;
}
.hero-left .button-1:hover, .hero-left .button-2:hover {
  background-color: #006edb;
}
.hero-left .button-2 {
  background-color: white;
  width: 130px;
}
.hero-left .button-2 a {
  text-decoration: none;
  color: #1c1b1f;
}
.hero-left .button-2:hover {
  background-color: inherit;
  border: 1.5px solid white;
}
.hero-left .button-2:hover a {
  color: white;
}

.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 4em;
  padding-top: 5em;
  padding-bottom: 5em;
}
.section-one p, .section-one .section-eight h2, .section-eight .section-one h2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  width: 80%;
}

.flags-block {
  left: 0;
  height: auto;
  background: #ffffff;
  width: 100%;
  overflow: hidden;
}

.flags-container-sub {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* Apply animation to this element */
  animation-name: scrolling-left1;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
.section-two {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  padding-bottom: 2em;
  margin-bottom: 5em;
  background-color: #f6f6f6;
}
.section-two .section-two-bottom {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.section-two .section-two-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.section-two .section-two-left img {
  width: 100%;
  height: auto;
}
.section-two .section-two-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section-two .section-two-right .button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007fff;
  width: 180px;
  height: 50px;
  border: inherit;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
}
.section-two .section-two-right .button-3 a {
  text-decoration: none;
  color: white;
}
.section-two .section-two-right .button-3:hover {
  background-color: #006edb;
}

.section-three {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  align-items: center;
  margin-bottom: 5em;
}
.section-three #service-p {
  line-height: 30px;
  margin: 0;
  margin-bottom: 4em;
}
.section-three .service {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  border: 0.5px solid rgba(128, 128, 128, 0.315);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  width: 80%;
  height: auto;
}
.section-three .service-left {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 1em 0em 1em 1em;
  gap: 0.5em;
  justify-content: center;
}
.section-three .service-left h3 {
  margin: 0;
  font-size: 1.25rem;
}
.section-three .service-left p, .section-three .service-left .section-eight h2, .section-eight .section-three .service-left h2 {
  font-size: 1rem;
  margin: 0;
}
.section-three .service-right {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
}
.section-three .service-right img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}
.section-three .service:nth-child(odd) {
  flex-direction: row-reverse;
}
.section-three .service:nth-child(odd) .service-left {
  padding: 1em 1em 1em 0em;
}

.section-four {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  padding-bottom: 5em;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.testimonial-container .testimonial-sub-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: auto;
  gap: 2rem;
}
.testimonial-container .testimonial-sub-container .arrow {
  width: 20px;
}
.testimonial-container .testimonial-sub-container .arrow:hover {
  width: 40px;
}
.testimonial-container .testimonial-sub-container .testimonial-container-left {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right .message {
  font-size: 1rem;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right .details {
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-decoration: none;
  color: #1c1b1f;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right .name, .testimonial-container .testimonial-sub-container .testimonial-container-right .university {
  font-size: 1rem;
}
.testimonial-container .testimonial-sub-container .testimonial-container-right .university {
  font-weight: 700;
}
.testimonial-container .testimonial-nav {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.testimonial-container .testimonial-nav .nav-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e3e3e3;
}
.testimonial-container .testimonial-nav .nav-bubble.active {
  background-color: #1c1b1f;
}

.section-five {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("../assets/graduates.png") center fixed;
  background-size: cover;
  height: 528px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}
.section-five h2 {
  font-weight: 700;
  color: white;
}
.section-five .metrics-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.section-five .metric {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
  width: 250px;
}
.section-five .metric b {
  font-size: 2.25rem;
}

.section-six {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  align-items: center;
  justify-content: center;
  padding-bottom: 5em;
}
.section-six h2 {
  margin: 0;
}
.section-six p, .section-six .section-eight h2, .section-eight .section-six h2 {
  margin-bottom: 3em;
}

.section-six-sub {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-evenly;
}
.section-six-sub .section-six-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
}
.section-six-sub .section-six-left .information {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 45%;
  height: auto;
  margin: 0;
  margin-bottom: 15px;
}
.section-six-sub .section-six-left .information img {
  width: 25px;
  height: 25px;
  margin-top: 0.15em;
}
.section-six-sub .section-six-left .information .details {
  width: 100%;
}
.section-six-sub .section-six-left .information .details b {
  font-size: 1.15rem;
  line-height: 10px;
  margin: 0;
}
.section-six-sub .section-six-left .information .details p, .section-six-sub .section-six-left .information .details .section-eight h2, .section-eight .section-six-sub .section-six-left .information .details h2 {
  font-size: 1rem;
  margin: 0;
}
.section-six-sub .section-six-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1em;
}
.section-six-sub .section-six-right .inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
}
.section-six-sub .section-six-right .inputs input {
  width: 50%;
  height: 50px;
  background-color: #f6f6f6;
  border: 0.5px solid #000000;
  border-radius: 5px;
  color: #1c1b1f;
  padding: 0em 1em;
}
.section-six-sub .section-six-right .inputs2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-six-sub .section-six-right .inputs2 .file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5em;
}
.section-six-sub .section-six-right .inputs2 .file-icon {
  display: inline-block;
  margin-right: 5px;
}
.section-six-sub .section-six-right .inputs2 .file-icon img {
  width: 30px;
}
.section-six-sub .section-six-right .inputs2 .file-name {
  display: inline-block;
}
.section-six-sub .section-six-right .inputs2 .hidden {
  display: none;
}
.section-six-sub .section-six-right .inputs2 .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  gap: 0.25em;
}
.section-six-sub .section-six-right .inputs2 .checkbox input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 0.5px solid #000000;
  border-radius: 2px;
  background-color: #f6f6f6;
  margin: 0;
  align-items: flex-start;
}
.section-six-sub .section-six-right .inputs2 .checkbox input[type=checkbox]:checked {
  background-color: #007fff;
}
.section-six-sub .section-six-right .inputs2 .checkbox input[type=checkbox]:checked::after {
  content: "✓";
  color: #fff;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  display: block;
  margin: 1px 0 0 1px;
}
.section-six-sub .section-six-right textarea {
  background-color: #f6f6f6;
  border: 0.5px solid #000000;
  border-radius: 5px;
  resize: none;
  color: #1c1b1f;
  padding: 1em;
  font-size: 16px;
}
.section-six-sub .button-1, .section-six-sub .hero-left .button-2, .hero-left .section-six-sub .button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007fff;
  width: 160px;
  height: 50px;
  border: inherit;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
}
.section-six-sub .button-1:hover, .section-six-sub .hero-left .button-2:hover, .hero-left .section-six-sub .button-2:hover {
  background-color: #006edb;
}

.section-seven {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 713px;
  height: 342px;
  background-color: #08437e;
  background: linear-gradient(0deg, rgba(0, 64, 128, 0.9), rgba(0, 64, 128, 0.9)), url("../assets/newsletter.png") center no-repeat;
  border-radius: 50px;
  gap: 1em;
  margin-bottom: 5em;
}
.section-seven h3 {
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  text-align: center;
  color: white;
  margin: 0;
}
.section-seven p, .section-seven .section-eight h2, .section-eight .section-seven h2 {
  text-align: center;
  color: white;
  letter-spacing: 0.05em;
  margin: 0rem 4rem;
}
.section-seven .email-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.section-seven .email-container input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #1c1b1f;
  border: none;
  width: auto;
  height: 50px;
  padding: 0em 1em;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
}
.section-seven .email-container input:focus {
  outline: none;
}
.section-seven .email-container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  width: auto;
  padding: 0em 2em;
  height: 50px;
  background: inherit;
  border: 1.5px solid #ffffff;
  border-radius: 15px;
}

.section-eight {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  margin-bottom: 5em;
  gap: 1em;
}
.section-eight p, .section-eight h2 {
  margin: 0;
}
.section-eight h2 {
  margin-top: 1.5em;
}

.section-nine {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  gap: 2em;
}
.section-nine h2 {
  margin: 0;
}
.section-nine .section-nine-sub {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.section-nine .section-nine-sub .section-nine-left {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 30%;
}
.section-nine .section-nine-sub .section-nine-left em {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.section-nine .section-nine-sub .section-nine-left strong {
  margin: 0;
}
.section-nine .section-nine-sub .section-nine-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1em;
}
.section-nine .section-nine-sub .section-nine-right p, .section-nine .section-nine-sub .section-nine-right .section-eight h2, .section-eight .section-nine .section-nine-sub .section-nine-right h2 {
  margin: 0;
}

.section-ten {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0em 8em;
  margin: 5em 0em;
}
.section-ten .section-ten-sub {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.section-ten .section-ten-sub .sub {
  display: flex;
  gap: 2em;
}
.section-ten .section-ten-sub .sub .values-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 33.333%;
}
.section-ten .section-ten-sub .sub .values-container img {
  width: 40px;
  height: 40px;
}
.section-ten .section-ten-sub .sub .values-container img p, .section-ten .section-ten-sub .sub .values-container img .section-eight h2, .section-eight .section-ten .section-ten-sub .sub .values-container img h2 {
  font-size: 1rem;
}

.section-eleven {
  display: flex;
  flex-direction: column;
  padding: 4em;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  gap: 2em;
  margin-bottom: 5em;
}
.section-eleven h2 {
  margin: 0;
}
.section-eleven .images-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.section-twelve {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 433px;
  align-items: center;
  justify-content: center;
  background: url("../assets/students.png") fixed center;
  background-size: cover;
}
.section-twelve h2 {
  color: white;
}
.section-twelve button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  color: #1c1b1f;
  background: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.section-twelve button a {
  text-decoration: none;
  color: #1c1b1f;
}
.section-twelve button:hover {
  background-color: #007fff;
}
.section-twelve button:hover a {
  color: white;
}

.section-thirteen {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  align-items: center;
  gap: 4em;
  margin-bottom: 5em;
}
.section-thirteen .event-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 70%;
  padding: 2.5em 1.5em 1em 1.5em;
  border: 0.5px solid rgba(128, 128, 128, 0.315);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
  border-radius: 10px;
}
.section-thirteen .event-container img {
  max-width: 300px;
  border-radius: 5px;
}
.section-thirteen .event-container strong {
  font-size: 1.25rem;
}
.section-thirteen .event-container p, .section-thirteen .event-container .section-eight h2, .section-eight .section-thirteen .event-container h2 {
  margin: 0;
}
.section-thirteen .event-container .details {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.section-thirteen .event-container a {
  text-decoration: none;
}
.section-thirteen .event-container button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 50px;
  background: #007fff;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: bold;
}
.section-thirteen .event-container button:hover {
  background-color: #006edb;
}

.section-fourteen {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  margin-bottom: 5em;
  gap: 2em;
}
.section-fourteen .section-fourteen-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.section-fourteen .blog-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: auto;
  border: 0.5px solid rgba(128, 128, 128, 0.315);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
  border-radius: 20px;
  margin-bottom: 4em;
}
.section-fourteen .blog-card img {
  max-width: 340px;
  height: 180px;
}
.section-fourteen .blog-card .details {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.section-fourteen .blog-card .details .details-sub {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.section-fourteen .blog-card .details .details-sub p, .section-fourteen .blog-card .details .details-sub .section-eight h2, .section-eight .section-fourteen .blog-card .details .details-sub h2 {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.875rem;
}
.section-fourteen .blog-card .details .details-sub img {
  width: 20px;
  height: 20px;
}
.section-fourteen .blog-card .details button {
  display: flex;
  padding: 0;
  width: auto;
  letter-spacing: 0.05em;
  background-color: inherit;
  border: none;
  outline: none;
  margin-top: 1.25em;
}
.section-fourteen .blog-card .details button a {
  color: #007fff;
  text-decoration: none;
}

.section-fifteen {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  margin-bottom: 10em;
  gap: 2em;
}
.section-fifteen h2 {
  margin-bottom: 0;
}
.section-fifteen p#contact, .section-fifteen .section-eight h2#contact, .section-eight .section-fifteen h2#contact {
  text-align: center;
}

.section-sixteen {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  gap: 2em;
  margin-bottom: 10em;
}
.section-sixteen .question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
  border-bottom: 0.5px solid #aaaaaa;
}
.section-sixteen .question-container .left {
  width: 90%;
}
.section-sixteen .question-container .left #question {
  font-size: 1rem;
  font-weight: 600;
  color: #1c1b1f;
}
.section-sixteen .question-container .left p, .section-sixteen .question-container .left .section-eight h2, .section-eight .section-sixteen .question-container .left h2 {
  font-size: 0.8735rem;
}
.section-sixteen .question-container .left .visible {
  display: block;
}
.section-sixteen .question-container .left .hidden {
  display: none;
}
.section-sixteen .question-container .right {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.section-seventeen {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  margin-bottom: 5em;
}

.section-eighteen {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  margin-bottom: 5em;
}

.whatsapp {
  position: fixed;
  bottom: 3em;
  right: 2em;
  z-index: 10;
}
.whatsapp img {
  width: 50px;
}

.event-page {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  align-items: center;
  padding-bottom: 5em;
  background-color: #dde6f0;
}
.event-page h1 {
  text-align: center;
}
.event-page h3 {
  margin: 0;
}
.event-page #text {
  margin: 0;
  font-size: 0.875rem;
  color: rgb(66, 66, 66);
}
.event-page #text a {
  color: #007fff;
}
.event-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2em;
}
.event-page form #top {
  border-top: 8px solid #007fff;
  gap: 1em;
}
.event-page form .input-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border: 0.5px solid rgba(128, 128, 128, 0.315);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  width: 60%;
  padding: 1.5em;
  gap: 2em;
}
.event-page form .input-container p, .event-page form .input-container .section-eight h2, .section-eight .event-page form .input-container h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}
.event-page form .input-container input {
  background-color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 0em 0em 1em 0em;
  color: #1c1b1f;
}
.event-page form .input-container .checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.event-page form .input-container .checkbox-group label {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.event-page form .input-container .checkbox-group input[type=checkbox] {
  margin-left: 0em;
  margin-right: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.event-page form .input-container .checkbox-group input[type=checkbox]:checked {
  background-color: white;
}
.event-page form .input-container .checkbox-group input[type=checkbox]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 0.5em;
  transition: background-color 0.3s ease;
}
.event-page form .input-container .checkbox-group input[type=checkbox]:checked::before {
  background-color: #4285f4;
}
.event-page button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 150px;
  height: 50px;
  background: #007fff;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: bold;
}
.event-page button:hover {
  background-color: #006edb;
}

.study-tour-page {
  display: flex;
  flex-direction: column;
  padding: 0em 4em;
  margin-bottom: 5em;
}
.study-tour-page p, .study-tour-page .section-eight h2, .section-eight .study-tour-page h2 {
  font-size: 1rem;
  margin: 0;
}
.study-tour-page h3 {
  margin: 0;
  margin-top: 2em;
  color: #007fff;
}
.study-tour-page img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.study-tour-page .schools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
  gap: 10%;
}
.study-tour-page .schools img {
  max-width: 300px;
  height: 315px;
  border-radius: 10px;
  margin-bottom: 2em;
}
.study-tour-page .schools h4, .study-tour-page .schools h3, .study-tour-page .schools ol {
  margin: 0;
}
.study-tour-page .schools .left {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.study-tour-page .schools .right {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.study-tour-page .schools .uyo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.study-tour-page a {
  text-decoration: none;
}
.study-tour-page button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 50px;
  background: #007fff;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: bold;
  margin-top: 3em;
}
.study-tour-page button:hover {
  background-color: #006edb;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0em 4em;
}
.team-container .sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
  width: 100%;
  height: auto;
}
.team-container .sub .team-member {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  height: -moz-max-content;
  height: max-content;
  gap: 1em;
}
.team-container .sub .team-member img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.team-container .sub .team-member p, .team-container .sub .team-member .section-eight h2, .section-eight .team-container .sub .team-member h2 {
  margin: 0;
  width: 100%;
  height: auto;
}
.team-container .sub .team-member .title {
  font-size: 1.1rem;
  font-weight: 700;
}
.team-container .sub .team-member .name, .team-container .sub .team-member .testimonial-container .testimonial-sub-container .testimonial-container-right .university, .testimonial-container .testimonial-sub-container .testimonial-container-right .team-container .sub .team-member .university {
  font-size: 1rem;
  font-weight: 500;
}/*# sourceMappingURL=App.css.map */