$companyblue: #005EBD;
$companyred: #DA241C;
$companyblack: #1C1B1F;
$compangreyblue: #DDE6F0;
$companygreybg: #F6F6F6;
$desktoppadding: 0em 4em;
$testborder: 1px solid red;

#root {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

h1 {
  color: #1C1B1F;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  text-align: center;
}

// NAVIGATION START
nav {
  background-color: $companygreybg;
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-top {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
  p {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0;
  }
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bottom-left {
  width: 33%;
}

.nav-bottom-right {
  display: flex;
  width: 67%;
  gap: 1rem;
  justify-content: flex-end;
  a {
    color: $companyblack;
    text-decoration: none;
    padding-bottom: 0.5em;
    font-weight: 600;
  }
  .active {
    padding-bottom: 0.5em;
    border-bottom: 2px solid $companyblue;
    a {
      color: $companyblue;
    }
  }
  a:hover {
    color: $companyblue;
  }
}

.mobile-nav-toggle {
  display: none;
}
// NAVIGATION END

// FOOTER START
footer {
  display: flex;
  flex-direction: row;
  padding: 6em 4em;
  background-color: $compangreyblue;
  gap: 7em;
  .footer-left {
    display: flex;
    flex-direction: column;
    width: 33%;
    p {
      font-size: 0.875rem;
    }
    .social-icons {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
    }
  }
  .footer-right {
    display: flex;
    flex-direction: row;
    width: 77%;
    justify-content: space-evenly;
    .footer-info {
      display: flex;
      flex-direction: column;
      width: 33.333%;
      gap: 0.5em;
      a {
        text-decoration: none;
        color: $companyblack;
        font-size: 0.875rem;
      }
      a:hover {
        font-weight: bold;
        color: $companyblue;
      }
    }
  }
}
// FOOTER END


// HERO SECTION START
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  gap: 2em;
  background-color: $companygreybg;
  padding: $desktoppadding;
  padding-bottom: 2em;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
  }
  .button-container {
    display: flex;
    gap: 1em;
  }
  .button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $companyblue;
    width: 200px;
    height: 50px;
    border: inherit;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .button-1:hover {
    background-color: #006edb;
  }
  .button-2 {
    @extend .button-1;
    background-color: inherit;
    width: 130px;
    border: 1.5px solid $companyblue;
    a {
      text-decoration: none;
      color: $companyblue;
    }
  }
  .button-2:hover {
    background-color: inherit;
    border: 1.5px solid $companyblack;
    a {
      color: $companyblack;
    }
  }
}

.hero-right {
  display: flex;
  width: 50%;
  img {
    width: 100%;
  }
}
// HERO SECTION END

// SECTION ONE START
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $desktoppadding;
  padding-top: 5em;
  padding-bottom: 5em;
  p {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    width: 80%;
  }
}

.flags-block {
  left: 0;
  height: auto;
  background: #FFFFFF;
  width: 100%;
  overflow: hidden;
}

.flags-container-sub {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* Apply animation to this element */
  animation-name: scrolling-left1;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite; 
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {transform: translateX(100%);
  -webkit-transform: translateX(100%);}
  100% {transform: translateX(-100%);
  -webkit-transform: translateX(-100%);}
}

@-webkit-keyframes scrolling-left1 {
  0% {-webkit-transform: translateX(100%);}
  100% {-webkit-transform: translateX(-100%);}
}
// SECTION ONE END

// SECTION TWO START
.section-two {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  padding-bottom: 2em;
  margin-bottom: 5em;
  background-color: $companygreybg;
  .section-two-bottom {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .section-two-left {
    display: flex;
    width: 50%;
    img {
      width: 100%;
    }
  }
  .section-two-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
// SECTION TWO END

// SECTION THREE START
.section-three {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  #service-p {
    line-height: 30px;
    margin: 0;
    margin-bottom: 4em;
  }
  .service {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
  }
  .service-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: $compangreyblue;
    padding: 3em 2.5em;
    gap: 1em;
    h3 {
      margin: 0;
      font-size: 1.5rem;
      letter-spacing: 0.05em;
    }
    p {
      margin: 0;
    }
  }
  .service-right {
    display: flex;
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .service:nth-child(odd){
    flex-direction: row-reverse;
    .service-left {
      background-color: $companyblack;
      h3 {
        color: white;
      }
      p {
        color: #DFDFDF;
      }
    }
  }
}
// SECTION THREE END

// SECTION FOUR START
.section-four {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  padding-bottom: 5em;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  .testimonial-sub-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    gap: 2rem;
    .arrow {
      width: 20px;
    }
    .arrow:hover {
      width: 40px;
    }
    .testimonial-container-left {
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: center;
    }
    .testimonial-container-right {
      display: flex;
      flex-direction: column;
      width: 70%;
      .message {
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.05em;
      }
      .details{
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
      .name {
        font-size: 1rem;
      }
      .university {
        @extend .name;
        font-weight: 700;
      }
    }
  }
  .testimonial-nav {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    .nav-bubble {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #E3E3E3;
      &.active {
        background-color: $companyblack;
      }
    }
  }
}
// SECTION FOUR END

// SECTION FIVE START
.section-five {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("../assets/graduates.png") center fixed;
  background-size: cover;
  height: 528px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
  h2 {
    font-weight: 700;
    color: white;
  }
  .metrics-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .metric {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    width: 250px;
    b {
      font-size: 2.25rem;
    }
  }
}
// SECTION FIVE END

// SECTION SIX START
.section-six {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  align-items: center;
  justify-content: center;
  padding-bottom: 5em;
  h2 {
    margin: 0;
  }
  p {
    margin-bottom: 3em;
  }
}

.section-six-sub {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-evenly;
  .section-six-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
    .information {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      width: 45%;
      height: auto;
      margin: 0;
      margin-bottom: 20px;
      img {
        width: 25px;
        height: 25px;
        margin-top: 0.15em;
      }
      .details {
        b {
          font-size: 1.15rem;
          line-height: 10px;
          margin: 0;
        }
        p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
  .section-six-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1em;
    .inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 2em;
      input {
        width: 50%;
        height: 50px;
        background-color: #F6F6F6;
        border: 0.5px solid #000000;
        border-radius: 5px;
        color: $companyblack;
        padding: 0em 1em;
      }
    }
    .inputs2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .file-label {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 0.5em;
      }
      .file-icon {
        display: inline-block;
        margin-right: 5px;
        img {
          width: 30px;
        }
      }
      .file-name {
        display: inline-block;
      }
      .hidden {
        display: none;
      }        
      .checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.875rem;
        gap: 0.25em;
        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 20px;
          height: 20px;
          border: 0.5px solid #000000;
          border-radius: 2px;
          background-color: #F6F6F6;
          margin: 0;
        }
        input[type="checkbox"]:checked  {
          background-color: $companyblue;
        }
        input[type="checkbox"]:checked::after {
          content: "\2713";
          color: #fff;
          font-size: 15px;
          line-height: 14px;
          text-align: center;
          display: block;
          margin: 1px 0 0 1px;
        }
      }
    }
    textarea {
      background-color: #F6F6F6;
      border: 0.5px solid #000000;
      border-radius: 5px;
      resize: none;
      color: $companyblack;
      padding: 1em;
      font-size: 16px;
    }
  }
  .button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $companyblue;
    width: 160px;
    height: 50px;
    border: inherit;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
  }
  .button-1:hover {
    background-color: #006edb;
  }
}
// SECTION SIX END

// SECTION SEVEN START
.section-seven {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 713px;
  height: 342px;
  background-color: #005EBD;
  background: url("../assets/newsletter.png") center no-repeat;
  border-radius: 50px;
  gap: 1em;
  margin-bottom: 5em;
  h3 {
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    text-align: center;
    color: #EAF4FF;
    margin: 0;
  }
  p {
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
    margin: 0rem 4rem;
  }
  .email-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $companyblack;
      border: none;
      width: 180px;
      height: 50px;
      padding: 0em 1em;
      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      border-radius: 15px;
    }
    input:focus {
      outline: none
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: white;
      border: none;
      width: 120px;
      height: 50px;
      background: inherit;
      border: 1.5px solid #FFFFFF;
      border-radius: 15px;
    }
  }
}
// SECTION SEVEN END

// SECTION EIGHT START
.section-eight {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  margin-bottom: 10em;
  gap: 1em;
  p {
    margin: 0;
  }
  h2 {
    @extend p;
    margin-top: 1.5em;
  }
}
// SECTION EIGHT END

// SECTION NINE START
.section-nine {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  gap: 2em;
  h2 {
    margin: 0;
  }
  .section-nine-sub {
    display: flex;
    flex-direction: row;
    gap: 2em;
    .section-nine-left {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      width: 30%;
      em {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
      strong {
        margin: 0;
      }
    }
    .section-nine-right {
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 1em;
      p {
        margin: 0;
        line-height: 30px;
      }
    }
  }
}
// SECTION NINE END

// SECTION TEN START
.section-ten {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0em 8em;
  margin: 5em 0em;
  .section-ten-sub {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    .sub {
      display: flex;
      gap: 2em;
      .values-container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 33.333%;
      img {
        width: 30px;
        height: 30px;
      }
    }
    }
  }
}
// SECTION TEN END

// SECTION ELEVEN START
.section-eleven {
  display: flex;
  flex-direction: column;
  padding: 4em;
  align-items: center;
  justify-content: center;
  background-color: $companygreybg;
  gap: 2em;
  margin-bottom: 5em;
  h2 {
    margin: 0;
  }
  .images-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
// SECTION ELEVEN END

// SECTION TWELVE START
.section-twelve {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 433px;
  align-items: center;
  justify-content: center;
  background: url("../assets/students.png") fixed center;
  background-size: cover;
  h2 {
    color: white;
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 130px;
    height: 50px;
    color: $companyblack;
    background: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }
  button:hover {
    background-color: $companyblue;
    color: white;
  }
}
// SECTION TWELVE END

// SECTION THIRTEEN START
.section-thirteen{
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  gap: 3em;
  margin-bottom: 5em;
  .event-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2.5em 1.5em;
    border: 0.5px solid rgba(128, 128, 128, 0.315);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    img {
      max-width: 445px;
      border-radius: 5px;
    }
    strong {
      font-size: 1.25rem;
    }
    p {
      line-height: 30px;
      margin: 0;
    }
    .details {
      display: flex;
      flex-direction: row;
      gap: 2em;
    }
    a {
      text-decoration: none;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px;
      height: 50px;
      background: #005EBD;
      border-radius: 10px;
      outline: none;
      border: none;
      font-weight: bold;
    }
    button:hover {
      background-color: #006edb;
    }
  }
}
// SECTION THIRTEEN END

// SECTION FOURTEEN START
.section-fourteen {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  margin-bottom: 5em;
  gap: 2em;
  .section-fourteen-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  .blog-card {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: auto;
    border: 0.5px solid rgba(128, 128, 128, 0.315);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
    border-radius: 20px;
    margin-bottom: 4em;
    img {
      max-width: 340px;
      height: 180px;
    }
    .details {
      display: flex;
      flex-direction: column;
      padding: 1em;
      .details-sub {
        display: flex;
        flex-direction: row;
        gap: 1em;
        p {
          display: flex;
          align-items: center;
          gap: 0.5em;
          font-size: 0.875rem;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
      button {
        display: flex;
        padding: 0;
        width: auto;
        letter-spacing: 0.05em;
        background-color: inherit;
        border: none;
        outline: none;
        margin-top: 1.25em;
        a {
          color: $companyblue;
          text-decoration: none;
        }
      }
    }
  }
}
// SECTION FOURTEEN END


// SECTION FIFTEEN START
.section-fifteen {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  margin-bottom: 10em;
  gap: 2em;
  h2 {
    margin-bottom: 0;
  }
  p#contact {
    text-align: center;
  }
}
// SECTION FIFTEEN END


// SECTION SIXTEEN START
.section-sixteen {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  gap: 2em;
  margin-bottom: 10em;
  .question-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0em;
    border-bottom: 0.5px solid #AAAAAA;
    .left {
      width: 90%;
      #question {
        font-size: 1rem;
        font-weight: 600;
        color: $companyblack;
      }
      p {
        font-size: 0.8735rem;
      }
      .visible {
        display: block;
      }
      .hidden {
        display: none;
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      width: 10%;
    }
  }
}
// SECTION SIXTEEN END


// SECTION SEVENTEEN START
.section-seventeen {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  margin-bottom: 5em;
}
// SECTION SEVENTEEN END


// SECTION EIGHTEEN START
.section-eighteen {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  margin-bottom: 5em;
}













