@media (min-width: 701px) and (max-width: 1000px) {
  h2 {
    font-size: 2rem;
  }
  nav {
    padding: 0em 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .nav-top {
    display: none;
  }
  .nav-bottom-left img {
    width: 250px;
  }
  .nav-bottom-right {
    display: none;
  }
  .nav-bottom-right.open {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #f6f6f6;
    padding: 1em;
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: auto;
    border: 1px solid #1c1b1f;
    box-shadow: 0px 8px 8px rgba(81, 79, 83, 0.541);
  }
  .nav-bottom-right.open a {
    color: #1c1b1f;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
  }
  .nav-bottom-right.open a:hover {
    color: #007FFF;
  }
  .nav-bottom-right > div.active a {
    color: #007FFF;
  }
  .mobile-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
  }
  footer {
    padding: 0em 2em;
    padding-top: 4em;
    padding-bottom: 4em;
    gap: 1.5em;
    justify-content: space-between;
  }
  footer .footer-right {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  footer .footer-right .footer-info {
    width: 30%;
  }
  .hero {
    padding: 0em 2em;
    margin-top: 5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  .hero .hero-left h1 {
    font-size: 2.5rem;
  }
  .section-one {
    padding: 0em 2em;
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .section-one p {
    font-size: 1.5rem;
  }
  .section-two {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .section-three {
    padding: 0em 2em;
  }
  .section-three .service {
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-three .service .service-left {
    width: 70%;
    padding: 2em 1.5em;
  }
  .section-three .service .service-left h3 {
    font-size: 1.375rem;
  }
  .section-three .service .service-left p {
    font-size: 0.875rem;
    line-height: 25px;
  }
  .section-three .service .service-right {
    width: 70%;
  }
  .section-three .service:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .section-three .service:nth-child(odd) h3 {
    font-size: 1.375rem;
  }
  .section-four {
    padding: 0em 2em;
    padding-bottom: 5em;
  }
  .testimonial-container .testimonial-sub-container {
    width: 90%;
  }
  .section-five {
    gap: 2em;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/graduates4.png") center fixed;
  }
  .section-five .metrics-container {
    padding: 0em 3em;
  }
  .section-five .metrics-container .metric {
    width: 33.333%;
  }
  .section-five .metrics-container .metric b {
    font-size: 1.75rem;
  }
  .section-five .metrics-container .metric p {
    font-size: 0.875rem;
  }
  .section-six {
    padding: 0em 2em;
    margin-bottom: 5em;
  }
  .section-six-sub {
    gap: 2em;
  }
  .section-six-sub .section-six-left {
    justify-content: space-between;
    width: 55%;
  }
  .section-six-sub .section-six-left .information img {
    width: 20px;
    height: 20px;
  }
  .section-six-sub .section-six-left .information .details b {
    font-size: 1rem;
  }
  .section-six-sub .section-six-left .information .details p {
    font-size: 0.875rem;
  }
  .section-six-sub .section-six-right {
    width: 45%;
  }
  .section-six-sub .section-six-right .inputs {
    gap: 1em;
  }
  .section-six-sub .section-six-right .inputs2 {
    gap: 1em;
  }
  .section-six-sub .section-six-right .inputs2 .file-icon img {
    width: 25px;
    height: 25px;
  }
  .section-six-sub .section-six-right .inputs2 .file-name {
    font-size: 0.875rem;
  }
  .section-six-sub .section-six-right .inputs2 .checkbox {
    align-items: flex-start;
    gap: 1.2em;
  }
  .section-six-sub .section-six-right .inputs2 .checkbox label {
    font-size: 0.8em;
  }
  .section-seven {
    width: 650px;
    border-radius: 40px;
  }
  .section-seven h3 {
    font-size: 1.75rem;
  }
  .section-seven p {
    font-size: 0.875rem;
  }
  .section-eight {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .section-nine {
    padding: 0em 2em;
  }
  .section-nine .section-nine-sub .section-nine-left {
    width: 40%;
  }
  .section-nine .section-nine-sub .section-nine-right {
    width: 60%;
  }
  .section-ten {
    padding: 0em 2em;
  }
  .section-ten .section-ten-sub {
    justify-content: center;
  }
  .section-ten .section-ten-sub .sub {
    gap: 1.5em;
  }
  .section-ten .section-ten-sub .sub .values-container img {
    width: 35px;
    height: 35px;
  }
  .section-ten .section-ten-sub .sub .values-container p {
    font-size: 0.875rem;
  }
  .section-eleven {
    padding: 3em;
  }
  .section-eleven .images-container {
    gap: 2em;
  }
  .section-twelve {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/students4.png") fixed center;
  }
  .services-section {
    margin-top: 5em;
  }
  .section-thirteen {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .section-thirteen .event-container {
    width: 90%;
  }
  .section-thirteen .event-container img {
    margin: 0 auto;
  }
  .section-thirteen .event-container strong {
    font-size: 1.2rem;
    text-align: center;
  }
  .section-fourteen {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .section-fifteen {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .section-sixteen {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .section-seventeen {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .section-eighteen {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .event-page {
    padding: 0em 2em;
    margin-top: 5em;
  }
  .event-page form .input-container {
    width: 70%;
  }
}/*# sourceMappingURL=App_tablet_large.css.map */